@font-face {
    font-family: "Open Sans Regular";
    src: url("./assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("./assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "Open Sans Light";
    src: url("./assets/fonts/OpenSans-Light.ttf");
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

:root {
    --cl-dark-grey: #20201f;
    --cl-orange: #f26b08;
    --cl-white: #ffffff;
    --cl-grey: #adadad;
    --cl-dark-orange: #ab5211;
    --cl-black: #000000;
    --cl-dark-ocean: #37393f;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans Regular";
    line-height: 1.2;
}

body {
    overflow-x: hidden;
}

input {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
    border: none;
    transition: .4s;
    width: 180px;
    height: 40px;
    color: var(--cl-white);
}

button:hover {
    background-color: var(--cl-orange);
}

.section_title,
.section_subtitle {
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.section_title {
    font-size: 50px;
    color: var(--cl-orange);
}

.section_subtitle {
    font-size: 23px;
    color: #282828;
    letter-spacing: 0px;
}

.section_description {
    color: #292929;
    font-size: 18px;
}

.header {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100px;
    background-color: var(--cl-dark-grey);
    border-bottom: 2px solid #ff6c00;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 265px;
    height: 60px;
}

.header_form {
    display: flex;
    align-items: center;
}

.header_form_input {
    height: 38px;
    background: none;
    font-size: 20px;
    margin: 0 10px;
}

.header_hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.header_hamburger_line {
    height: 3px;
    width: 50px;
    background-color: var(--cl-white);
    margin: 3px 0;
}

.input_info {
    width: 178px;
    padding-left: 14px;
    border: 1px solid var(--cl-grey);
    color: var(--cl-grey);
}

.input_info::placeholder {
    color: var(--cl-grey);
}

.input_button {
    width: 98px;
    background-color: var(--cl-dark-orange);
    border: 1px solid var(--cl-dark-orange);
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: .4s;
    cursor: pointer;
}

.input_button:hover {
    background-color: var(--cl-orange);
    border-color: var(--cl-orange);
}

.carousel {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: var(--cl-white);
    position: relative;
    transition: .4s;
    background-size: cover;
    background-position: center center;
}

.carousel_info {
    text-align: center;
}

.carousel_info_title {
    font-size: 70px;
    font-family: "Open Sans Bold";
}

.carousel_info_description {
    font-size: 40px;
    max-width: 625px;
}

.carousel_info_title,
.carousel_info_description {
    text-shadow: 3px 3px 4px var(--cl-black);
    text-align: center;
}

.carousel_info_button {
    margin-top: 60px;
    text-align: center;
    font-size: 18px;
    background-color: var(--cl-dark-grey);
}

.carousel_toggle {
    display: flex;
    margin-top: 100px;
    margin-bottom: 38px;
}

.carousel_toggle_item {
    width: 20px;
    height: 20px;
    background-color: var(--cl-dark-grey);
    box-shadow: 1px 1px 4px var(--cl-black);
    margin: 0 10px;
    transition: .4s;
}

.carousel_toggle_item.active {
    background-color: var(--cl-white);
}

.carousel_controller {
    position: absolute;
    top: 430px;
    cursor: pointer;
    transition: .4s;
    /*width: 35px;
    height: 60px;*/
}

.left_controller {
    left: 70px;
}

.right_controller {
    right: 70px;
}

.carousel_controller:hover {
    filter: hue-rotate(-15deg);
}

.partners {
    background-color: var(--cl-dark-ocean);
    color: var(--cl-white);
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.partners_item {
    text-align: center;
    margin: 0 33px;
    display: grid;
    justify-items: center;
    grid-template-rows: 144px 95px 200px 60px;
    opacity: 0;
}

.partners_item_img {
    width: 178px;
    height: 144px;
}

.partners_item_img.webmaster {
    width: 212px;
}

.partners_item_title {
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Open Sans Bold";
    margin-top: 50px;
}

.partners_item_description {
    margin-top: 10px;
    text-align: left;
    width: 365px;
    word-break: break-word;
}

.partners_item_button {
    background-color: var(--cl-dark-orange);
    margin-top: 20px;
    font-size: 18px;
}

.webmasters {
    padding: 80px 0 36px 0;
    display: flex;
    justify-content: center;
}

.webmasters_item {
    max-width: 560px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.webmasters_item_img {
    width: 560px;
    height: 290px;
    opacity: 0;
}

.webmasters_item_title {
    margin-top: 20px;
}

.webmasters_item_description {
    margin-top: 15px;
    max-width: 94%;
}

.forpartner {
    background-image: url("./assets/img/forpartner/background.png");
    width: 100%;
    height: 505px;
    padding: 65px 0;
    display: flex;
    justify-content: center;
}

.forpartner_container {
    background-color: rgba(255, 255, 255, 0.9);
    /*max-width: 768px;
    max-height: 367px;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 90px;
    opacity: 0;
}

.forpartner_container_description {
    margin-top: 20px;
    max-width: 590px;
}

.about {
    padding: 88px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_description {
    max-width: 860px;
    margin-top: 20px;
    text-align: center;
}

.advertising {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    background-color: #e7e7e7;
}

.advertising_item {
    margin: 0 35px;
    opacity: 0;
}

.advertising_item_img {
    margin: 0 auto;
    display: block;
    width: 300px;
}

.utarget .advertising_item_description:nth-child(2) {
    margin-top: 50px;
}

.adforce_logo {
    height: 92px;
}

.utarget_logo {
    height: 70px;
    margin-top: 10px;
}

.advertising_item_description {
    max-width: 550px;
    margin-top: 35px;
}

.footer {
    background-color: var(--cl-dark-ocean);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.footer_social {
    display: flex;
    align-items: center;
}

.footer_social_item {
    display: flex;
}

.footer_social_item:nth-child(2) {
    margin-left: 25px;
}

.footer_social_item_wrapper {
    margin-left: 15px;
}

.footer_social_item_wrapper_info,
.footer_privacy {
    font-family: "Open Sans Light";
    font-size: 18px;
    color: #737579;
}

.skype_item .footer_social_item_wrapper_info:first-child {
    margin-top: 10px;
}

.footer_social_item_wrapper_info {
    margin-top: 5px;
}

.skype_logo {
    width: 64px;
    height: 64px;
}

.mail_logo {
    width: 72px;
    height: 50px;
    margin-top: 5px;
}

.footer_privacy {
    text-align: right;
}

.wrapper {
    padding-right: 370px;
    padding-left: 370px;
    box-sizing: border-box;
}

#webmastersStatisticDescription,
#webmastersAdvertiserDescription {
    opacity: 0;
}

#partnersAdvertising.animate,
#webmastersStatisticIcon.animate,
#advertisingAdforce.animate {
    animation: slideRight forwards 1s 1s;
}

#partnersWebmasters.animate,
#webmastersStatisticDescription.animate,
#webmastersAdvertiserDescription.animate {
    animation: slideUp forwards 1s 1s;
}

#partnersPartners.animate,
#webmastersAdvertiserIcon.animate,
#advertisingUtarget.animate {
    animation: slideLeft forwards 1s 1s;
}

#forpartners.animate {
    animation: fade forwards 1s 1s;
}

@media screen and (max-width: 1919px) {
    .wrapper {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media screen and (max-width: 1400px) {
    .wrapper {
        padding-left: 100px;
        padding-right: 100px;
    }

    .partners_item {
        grid-template-rows: 144px 95px auto 60px;
    }

    .webmasters_item_img {
        width: 450px;
        height: auto;
    }

    .partners_item_description {
        width: 280px;
    }
}

@media screen and (max-width: 1100px) {
    .wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }

    .right_controller {
        right: 20px;
    }

    .left_controller {
        left: 20px;
    }

    .partners_item_title {
        font-size: 25px;
    }

    .section_title {
        font-size: 36px;
    }

    .section_subtitle {
        font-size: 20px;
    }

    .partners {
        flex-direction: column;
    }

    .partners_item {
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            'image title'
            'image desc'
            'image button';
        grid-template-rows: none;
        margin: 20px;
    }

    .partners_item_img {
        grid-area: image;
        align-self: center;
        justify-self: left;
    }

    .partners_item_title {
        grid-area: title;
    }

    .partners_item_description {
        grid-area: desc;
        width: auto;
    }

    .partners_item_button {
        grid-area: button;
    }

    #partnersPartners.animate {
        animation: slideRight forwards 1s 1s;
    }

    #partnersWebmasters.animate {
        animation: slideLeft forwards 1s 1s;
    }

    .webmasters {
        flex-wrap: wrap;
    }

    .webmasters_item {
        max-width: none;
        margin: 30px 0;
    }

    .webmasters_item_description {
        text-align: center;
        max-width: none;
        padding: 0 30px;
    }

    #webmastersStatisticIcon.animate,
    #webmastersAdvertiserIcon.animate {
        animation: fade forwards 1s 1s;
    }

    .footer_social {
        flex-direction: column;
        align-items: baseline;
    }

    .footer_social_item {
        margin: 20px 0;
    }
}

@media screen and (max-width: 950px) {
    .header_form {
        display: none;
    }

    .header_hamburger {
        display: flex;
        z-index: 5;
    }

    .header_hamburger_line {
        transition: .4s;
    }

    .header_hamburger.active .header_hamburger_line:nth-child(2) {
        display: none;
    }

    .header_hamburger.active .header_hamburger_line:nth-child(1) {
        transform: rotate(45deg) translateY(6px);
    }

    .header_hamburger.active .header_hamburger_line:nth-child(3) {
        transform: rotate(-45deg) translateY(-6px);
    }

    .header_form.mobile {
        display: flex;
        background-color: var(--cl-dark-ocean);
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: fade forwards 1s;
        z-index: 3;
    }

    body.hidden {
        overflow: hidden;
    }

    .header_form.mobile>* {
        margin: 10px 0;
    }

    .carousel_info {
        transform: translateY(-60px);
    }

    .carousel_info_title {
        font-size: 50px;
    }

    .carousel_info_description {
        font-size: 24px;
    }

    .forpartner_container {
        padding: 25px 50px;
    }

    .forpartner_container_description {
        max-width: none;
    }
}

@media screen and (max-width: 800px) {
    .partners_item {
        margin: 40px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .partners_item_description {
        text-align: center;
    }

    .advertising {
        flex-wrap: wrap;
    }

    .advertising_item {
        margin: 20px 35px;
    }

    .advertising_item_description {
        text-align: center;
    }

    .forpartner {
        height: auto;
        min-height: 505px;
        background-size: cover;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .footer_privacy {
        margin-top: 20px;
        text-align: center;
    }

    .footer_social_item:nth-child(2) {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header_logo {
        width: 150px;
        height: auto;
    }

    .webmasters_item_img {
        width: 350px;
    }

    .carousel_controller {
        height: 50px;
    }

    .forpartner_container {
        padding: 20px;
    }
}

@media screen and (max-width: 360px) {
    .webmasters_item_img {
        width: 280px;
    }

    .section_title {
        font-size: 26px;
    }

    .section_subtitle {
        font-size: 18px;
    }

    .advertising_item_img {
        width: 250px;
        height: auto;
    }
}

@media screen and (max-width: 300px) {
    .webmasters_item_img {
        width: 250px;
    }
}